@model UnitedWayPrototypeApplication.Models.ContributionModel



@{
    ViewBag.Title = "Enter CWID";
}



@using (Html.BeginForm("DisplayName","Home", FormMethod.Post, new { @cwid =  "form-group" }))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label>
            Enter CWID:
        </label>
        <input type="text" id="CWID" name="CWID" required />
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Continue" onclick ="return validateform()"   class="btn btn-default" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


